body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
    margin: 0;
}
header{
    background-color: white;
    height: 90px;
    
    
}
.title{
    display: inline;
    line-height: 100px;
}

.title,
.logo{
    vertical-align: middle;
    margin-top: 10px;
}