body{
    font-family: 'Montserrat', sans-serif;
    background-color: lightgray;
    margin: 0;
}
header{
    background-color: white;
    height: 90px;
    
    
}
.title{
    display: inline;
    line-height: 100px;
}

.title,
.logo{
    vertical-align: middle;
    margin-top: 10px;
}
.container{
    background-color: white;
    height: 500px;
    background-color: white;
    margin: 60px auto;
    width: 800px;
    border-radius: 12px;
}
.section-button{
    height: 60px;
    border-bottom: solid lightgray;
    line-height: 4;
   
}
.button-1{
    background-color: rgb(25, 80, 124);
    color: white;
    border-radius: 12px;
    border: 0; 
}
.button-2{
    background-color:white;
    color: lightgray;
    border-radius: 12px;
    border: solid;
    border-color: lightgray;
}
.button-1,
.button-2{
    margin-left: 20px;
}
